* {
  font-family: Lato;
}

p {
  font-family: Lato;
  border-radius: 15px;
  padding: 20px;
}

.second-p {
  border: 1px solid #858585;
  cursor: pointer;
  user-select: none;
  transition: all .2s;
}

.second-p:hover {
  background: #e3e3e3;
}

.second-p:active {
  background: #a0a0a0;
}

.highlight {
  background-color: salmon;
}